body {
  display: flex;
  justify-content: end;
  background-image: url(../../img/loginWallpaper.webp);
  background-size: Cover;
}
main {
  margin-right: 318px;
  margin-top: 20px;
  padding: 30px;
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(20, 10, 31, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
main input {
  margin-bottom: 20px;
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(20, 10, 31, 0.2);

  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
}
main label,
h2 {
  font-size: 20px;
  border-radius: 10px;
  color: aliceblue;
}
main button {
  font-size: 20px;
  border-radius: 3px;
  border-width: 1px;
}
main a {
  margin-top: 10px;
}
